<table>
    <tr >
        <td *ngFor="let links of socialLinks">
            <a href={{links.link}}><img src={{links.imagePath}} alt="links.name"></a>
        </td>
        <td>
            <label>{{contactNumber.stringCall}} : {{contactNumber.number}}</label>
        </td>
    </tr>

    <!--
    <tr>
        <td>
            <a href="https://www.facebook.com/buti.lebute.1"><img src="../../assets/facebook.png"></a>					
        </td>
        <td>
            <a href="https://www.linkedin.com/in/joel-manasoe-266128184/"><img src="../../assets/linkedin.png"></a>
        </td>
        <td>
            <a href="https://twitter.com/ButiJoel2"><img src="../../assets/twitter.png"></a>					
        </td>
        <td>
            <label>Call : 071 191 5807</label>
        </td>
    </tr>-->
</table>