*{
	margin: 0;
	padding: 0;
}

body{
	margin: 3px;
}


ul{
	list-style: none;
}

a:hover{
	color: yellow;
}

a:active{
	color: red;
}

header{
	display: flex;
	background-color: grey;
}
header img{
	height: 70px;
	width: 100px;
}

header label{
	border: 2px grey solid;
}
	
header ul{
	display: flex;
	flex-direction: row;
	margin-left: 810px;
	margin-top: 20px;
}

header ul li{
	margin-top: 10px;
	margin-left: 30px;
	text-align: center;
}


.contect-head{
	margin-top: 15px;
}

video{
	margin: 0 5px;
}

#contect-body{
	margin-top: 25px;
	display: flex;
}

#bio{
	margin-left: 15px;
}

h2{margin: 15px 0;}

p{
	margin: 15px 0;
}

#info{
	width: 70%;
}

#image{
	width: 30%;
}

#image img{
	width: 250px;
	height: 250px;
}

button{
	width: 80px;
	height: 45px;
	background-color: pink;
	color: black;
	font-size: 1em;
	font-weight: 600;
	border-radius: 9%;
}

footer{
	margin-top: 25px;
	border: grey 2px solid;
	text-align: center;

}

.footer img{
	width: 30px;
	height: 30px;
}

.footer tr{
	display: flex;
	text-align: center;
}

.footer tr td{
	margin-left: 25px;
}


/* ========================contact======================== */

.content table label{
}

.content tr{
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.content td label{
	margin-top: 5px;
	margin-left: 5px;
}