<app-header></app-header>

<content class="content">
		
    <table class="contact">
        <tr>
            <td>Surname </td>
            <td><input type="text" name="surname"></td>
        </tr>

        <tr>
            <td>Names </td>
            <td><input type="text" name="names"></td>
        </tr>

        <tr>
            <td>Email </td>
            <td><input type="email" name="email"> </td>
        </tr>

        <tr>
            <td>What are you </td>
            <td>
                <label><input type="radio" name="type" value="student" checked="true">Student</label>
                <label><input type="radio" name="type" value="employed">Employed</label>
                <label><input type="radio" name="type" value="other">Other</label>

            </td>
        </tr>

        <tr>
            <td>Active</td>
            <td><input type="checkbox" name="active"> </td>

        </tr>

        <tr>
            <td>Message </td>
            <td><textarea rows="10" cols="25"></textarea></td>
        </tr>

        <tr>
            <td><button>Submit</button></td>
        </tr>

    </table>
</content>

<app-footer></app-footer>
