.header{
	background-color: grey;
    display: flex;
    position: relative;;
}

.header-logo{
	display: flex;
}
.header-logo img{
	height: 70px;
	width: 100px;
}

.header-logo label{
	border: 2px grey solid;
}

.header-body{
    position: absolute;
    right: 1%;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 25px 15px 0 15px;
}
