<app-header></app-header>

<body>

  <content>
    <div class="contect-head">
      <video controls>
        <source src={{videossource.urlPath}} type={{videossource.typeOfFile}} />
		{{videossource.unsupportedMessage}}
      </video>
    </div>

    <div class="contect-body">
      <div id="bio">
        <h2>{{description.fullName}}</h2>
		<div class="my-content">
			<div id="info">
				<p>
				  {{description.introduction}}
				</p>
				<p>
				  {{description.bodyDescription}}
				</p>
				<button>Button</button>
	
			</div>
			<div id="image">
				<img src={{imageSource.urlpath}} alt="imageSource.name"/>
			</div>
		</div>
      </div>
    </div>
  </content>
</body>

<app-footer></app-footer>
